*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: lightslategray;
    

}

.container{
    position: relative;
    width: 100%;
    min-width: 100px;
}